* {
    font-family: 'Cousine', sans-serif;
}

body {
    overflow-x: hidden;
}

a, a:hover, a:visited, a:active {
    text-decoration: none;
}

.bold, h1, h2, h3, h4, h5, h6 {
    font-family: 'Tilt Wrap', sans-serif;
    font-weight: bold;
}

.upper {
    text-transform: uppercase;
}